@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
	
background-blend-mode: screen;

  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 102px;
  height: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 17px;
  margin: 18px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #252525;
  font-weight: 400;
  font-size: 16px;
}

.login {
  text-decoration: none;
  color: #252525;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  gap: 23px;
  margin-right: 20px;
}

.register {
  color: white;
  background-color: #329ef7;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
  width: 114px;
}

.content {
  width: 560px;
  display: flex;
  padding: 120px 390px 121px 390px;
  width: 100%;
}

h1 {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

.part {
  display: flex;
  flex-direction: row;
  color: #252525;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 400;
  gap: 50px;
  text-align: left;
}

.contact {
  width: 100%;
  display: flex;
  height: 974px;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contain {
  box-shadow: 0px 5px 14px 0px #81818133;
  border-top: 5px solid #329ef7;
  padding: 65px 217px 60px 217px;
  border-radius: 4px;
  width: 1110px;
  background-image: url(./img/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
}

.contain p {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #252525;
  text-align: center;
}

.submit {
  color: white;
  background-color: #329ef7;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
  width: 114px;
}

input {
  border: 1px solid #ced4da;
  height: 38px;
  border-radius: 4px;
  width: 322px;
  text-align: center;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub {
  margin-bottom: 10px;
  width: 664px;
}

.con {
  width: 664px;
  height: 84px;
}

.foot {
  display: flex;
  height: 480px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 280px;
  width: 1140px;
  padding: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  color: #252525;
  margin-bottom: 16px;
}

.group_1 {
  gap: 50px;
}
.group_1 ul li {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #252525;

  margin-bottom: 16px;
}

.group_2 ul li {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #252525;
  margin-bottom: 16px;
}

.group_3 p {
  width: 300px;
  color: #252525;
  font-size: 16px;
  font-weight: 400;
}

.foot p {
  font-size: 16px;
  font-weight: 400;
}

.social {
  width: 70px;
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

.call div {
  display: flex;

  flex-direction: row;
  width: fit-content;
}
.call div img {
  height: 40%;
  width: 40%;
}

.call div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
}

.call div div p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: #252525;
}
.call div div h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tour {
  color: white;
  background-color: #fe6655;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
  width: 114px;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}

.container {
  display: flex;

  flex-direction: row;
  width: fit-content;
}
.blocks div img {
  height: 90%;
  width: 90%;
}

.blocks div div h2 {
  display: flex;

  align-items: center;
  margin-bottom: 20px;
}

.blocks div div p {
  display: flex;

  margin-bottom: 30px;
  color: #252525;
}

.browser {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
